/* COLOR */
$orange: #ef6f31;
$orangeLight: #fdf0ea;
$sectionTitle: #6ac5f1;
$whiteBg: #ffffff;
$grayBg: #f5f5f5;
$lightBlack: #333333;
$lightBlue: #1972f5;
$headerList: #696969;
$jumboBg: #fbf9f6;

/* HEIGHT */
$bannerHeight: 40px;
$headerHeight: 70px;
$jumboHeight: 650px;
